{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "proseWrap": "always",
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "plugins": [],
  "overrides": []
}
